version: '3.13'

networks:
  beaknet:
    driver: overlay
    attachable: true

services:
  beak-static-nginx:
    deploy:
      replicas: 1
      placement:
        constraints: [ node.role == manager ]
    networks:
      - beaknet

  beak-api:
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports: [ ] # Remove ports because Swarm manages published ports differently
    networks:
      - beaknet

  beak-dragonfly:
    deploy:
      replicas: 1
    ports: [ ]
    networks:
      - beaknet

  beak-dbgate:
    deploy:
      replicas: 1
    ports: [ ]
    networks:
      - beaknet
