# Beak
PROJECT_NAME='Beak LIMS'
SERVER_NAME=beak-lims
SERVER_HOST=localhost
DOMAIN=localhost
POSTGRES_SERVER=localhost
POSTGRES_USER=beak
POSTGRES_PASSWORD=beak
POSTGRES_DB=beak_lims
MINIO_ROOT_USER=beak
MINIO_ROOT_PASSWORD=beak
MONGO_INITDB_ROOT_USERNAME=beak
MONGO_INITDB_ROOT_PASSWORD=beak
DBGATE_USER=beak
DBGATE_PASSWORD=beak
TESTING=False
RETAIN_TESTING_DB_DATA=False
SMTP_TLS=False
SMTP_PORT=1025
SMTP_HOST=localhost
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=beak@beakinsghts.com
EMAILS_FROM_NAME=beak
EMAIL_TEST_USER=test@beakinsghts.com
FIRST_SUPERUSER_EMAIL=admin@beakinsghts.com
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PASSWORD='!Beak#100'
SYSTEM_DAEMON_EMAIL=systemdaemon@beakinsghts.com
SYSTEM_DAEMON_USERNAME=system_daemon
SYSTEM_DAEMON_PASSWORD='!System@Daemon#100'
USERS_OPEN_REGISTRATION=False
ENABLE_BACKGROUND_PROCESSING=False
LOAD_SETUP_DATA=False
RUN_OPEN_TRACING=False
OTLP_SPAN_EXPORT_URL=http://localhost:4317
SYNCFUSION_LICENSE=
# Auth secrets
SECRET_KEY=
REFRESH_SECRET_KEY=
# HIPAA Compliance
HIPAA_ENCRYPTION_KEY=
SEARCH_ENCRYPTION_KEY=
# Webapp
NODE_ENV=development
VITE_NODE_ENV=development
VITE_APP_TITLE=Beak Dev
VITE_BASE_URL=http://localhost:8000