/* Base app styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#app {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsl(var(--foreground));
}

/* Active tab styles */
.tab-active {
    border-bottom: 2px solid hsl(var(--primary)) !important;
    font-weight: bold !important;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--primary) / var(--tw-bg-opacity));
    height: 100%;
    color: hsl(var(--primary-foreground)) !important;
}
