<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/assets/favicon-ClnKp53A.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Felicity LIMS</title>
      <script type="module" crossorigin src="/assets/index-C5OmCQ1r.js"></script>
      <link rel="stylesheet" crossorigin href="/assets/index-DNLAO2yS.css">
    </head>
    <body class="bg-secondary">
        <div id="felicityApp">
            <div id="fel-load">
                <p>Felicity LIMS</p>
                <div class="fel-loader"></div>
            </div>
        </div>
    </body>
</html>
